#talk {
}
#talk tr {
}
#talk td {
  padding: 5px 5px 20px 5px;
  vertical-align: top;
  width: 50%;
}
#talk .zh .iann {
  display: inline-block;
  text-align: center;
  vertical-align: bottom;
  white-space: nowrap;
}
#talk .zh .zh {
  cursor: pointer;
}
#talk .zh .zh:hover {
  background: yellow;
}
#talk .zh .py {
  color: #c00;
}
#talk .zh .zh-text {
  cursor: pointer;
}
#talk .popover strong {
  font-size: 3em;
}
#talks .panel:hover {
  background: #eee;
}
#talks .panel h3 {
  margin-top: 0;
}
