<a href="#/talks" ng-show="!loading">back to all talks</a>

<br /><br />

<form name="search_ted_talks" ng-show="!loading">
  <label for="query">Search TED Talks: </label>
  <input type="text" name="query" ng-model="query" required />
  <button ng-click="search()" ng-disabled="query.$invalid" class="btn btn-default">Search</button>
</form>

<div id="results" ng-show="!loading">
  <div class="result panel panel-default" ng-repeat="result in results">
    <div class="panel-heading">
      <h3 class="panel-title">{{result.talk.name}} <button class="btn btn-default" ng-click="save(result.talk.id)">Add</button></h3>
    </div>
    <div class="panel-body">{{result.talk.description}}</div>
  </div>
</div>

<div id="loading" ng-show="loading">Loading... <img src="/images/loading.gif" /></div>
